{% extends 'base.html.twig' %}

{% block body %}

<div class="card" style="max-width:500px;margin:100px auto;">
    <h2>Changement obligatoire du mot de passe</h2>

    {% if error %}
        <div style="color:red;margin-bottom:15px;">
            {{ error }}
        </div>
    {% endif %}

    <form method="post">

        <div class="form-group">
            <label>Nouveau mot de passe</label>
            <input type="password" name="password" required>
        </div>

        <div class="form-group">
            <label>Confirmation</label>
            <input type="password" name="confirm_password" required>
        </div>

        <button type="submit" class="btn btn-admin">
            Modifier le mot de passe
        </button>

    </form>
</div>

{% endblock %}