{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block body %}
<div class="container mt-5" style="max-width:800px;">

    

    <h1>Politique de Confidentialité</h1>

    <p>
        La présente politique décrit comment nous collectons,
        utilisons et protégeons vos données personnelles
        conformément au RGPD (UE 2016/679).
    </p>
    
    <h2>Responsable du traitement</h2>
    <p>
    Le responsable du traitement des données est :
    </p>

    <p>
    Sport Pro Performance Solidarity<br>
    222 rue Gaston Couté, 28000 Chartres, France<br>
    SIRET : 888 916 913 00013<br>
    Email : contact@sportproperformance.fr
    </p>

    <h3>Données collectées</h3>
    <ul>
        <li>Nom et prénom</li>
        <li>Adresse email</li>
        <li>Données liées au profil (client ou coach)</li>
        <li>Données de navigation (cookies)</li>
    </ul>

    <h3>Finalité du traitement</h3>
    <p>
        Les données sont utilisées uniquement pour :
    </p>
    <ul>
        <li>La gestion des comptes utilisateurs</li>
        <li>La mise en relation client / coach</li>
        <li>L'amélioration de nos services</li>
    </ul>

    <h3>Durée de conservation</h3>
    <p>
        Vos données sont conservées tant que votre compte est actif.
    </p>

    <h3>Vos droits</h3>
    <ul>
        <li>Droit d'accès</li>
        <li>Droit de rectification</li>
        <li>Droit à l'effacement</li>
        <li>Droit à la portabilité</li>
    </ul>

    <p>
        Contact : contact@tonsite.fr
    </p>

</div>
{% endblock %}